@model GoalsCharacterSheet.Web.Models.GoalsCharacterViewModel
<fieldset id="GoalsEquipments">
    <legend>Equipment</legend>
    <div class="btn-group">
        <button id="AddEquipment" type="button" class="btn">
            Add</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="display: none;">
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Page #
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Entity.CharacterEquipments.Count() == 0)
            { 
                <tr>
                    <td colspan="6">
                        No Equipment
                    </td>
                </tr>
            }
            @foreach (var item in Model.Entity.CharacterEquipments.OrderBy(x=>x.GoalsEquipment.Name))
            {
                <tr>
                    <td style="display: none;">
                        <input type="hidden" class="rowId" value="@item.GoalsEquipment.GoalsEquipmentId" />
                    </td>
                    <td>
                        @item.GoalsEquipment.Name
                    </td>
                    <td>
                        @item.GoalsEquipment.Type
                    </td>
                    <td>
                        @item.GoalsEquipment.Cost
                    </td>
                    <td>
                        @item.GoalsEquipment.Page
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="rowDetails btn">
                                Details</button>
                            <button type="button" class="removeRow btn">
                                Remove</button>
                        </div>
                    </td>
                </tr>  
            }
        </tbody>
    </table>
</fieldset>
